shaml/**/bin
shaml/**/Bin
webbase/**/bin
webbase/**/Bin
webbase/bin
obj
TestResults
TestResult.xml
drops
log.txt
*.VisualState.xml
StyleCop.Cache
*.LDF
*~
PrecompiledWeb
*.suo
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
.dotest
.sass-cache
